<nav>
  <a routerLink="inicio">
    <img class="logo" src="galery.png" alt="logo" />
  </a>

  <a class="inicio" routerLink="inicio">Inicio</a>
  <a class="productos" routerLink="productos">Productos</a>
  <a class="tendecias" routerLink="tendecias">Tendencias</a>
  <a class="colleciones" routerLink="colleciones">Colecciones</a>
  <a class="sobrenosotros" routerLink="sobrenosotros">Sobre Nosotros</a>
  
  <div>
    <img class="login" routerLink="login" src="login.png" alt="login" />
  </div>

  <div>
    <img class="carrito" src="carrito.png" alt="carrito" />
  </div>

  <img class="busqueda" src="busqueda.png" alt="busqueda" />
</nav>

