<div class="menu">
  <div class="avatar">
    <img src="avatar.png" alt="Avatar del administrador" />
  </div>
  <div class="lblnombre">{{ nombre }}</div>
  <div class="lblrol">{{ role }}</div>

  <div class="submenu">
    <div class="itemmenu" routerLink="/dashboard">Dashboard</div>

    <div class="itemmenu" routerLink="/usuarios">Usuarios</div>
    <div class="itemmenu" routerLink="/productoscrear">Productos</div>
    <div class="itemmenu" routerLink="/servicios">Servicios</div>
    <div class="itemmenu" routerLink="/">Logout</div>
  </div>
</div>
