<!--Tipografias-->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Gabarito&family=Quicksand:wght@300..700&display=swap"
  rel="stylesheet"
/>

<!--Fotter-->
<footer>
  <a href="../../inicio">
    <img class="logo" src="galery-1.png" alt="logo" />
  </a>

  <h1 class="links-titulo">mäbello</h1>

  <p class="siguenos">Síguenos en</p>
  <img class="instagram" src="instagram.png" alt="logoinstagram" />
  <img class="linkedin" src="linkedin.png" alt="logolinkedin" />
  <img class="wpp" src="wpp.png" alt="logowpp" />
  <div>
    <a href="../../inicio" >
    <p class="link-1">Inicio |</p>

    </a>
    <a href="../../productos">
<p  class="link-2">Productos |</p>
    </a>
    
    <a href="../../sobrenosotros"><p href="" class="link-3">Sobre Nosotros</p></a>
    
  </div>

  <hr class="linea" />
  <a href="../../sobrenosotros"
    ><p class="links-1">Términos y condiciones |</p>
    <p class="links-2">Políticas de privacidad |</p>
    <p class="links-3">Preguntas Frecuentes</p></a
  >

  <p class="derechos">
    mäbello | 2025 <br />
    &copy; Todos los derechos reservados.
  </p>
</footer>
