<img class="img-nosotros-portada" src="sobre nosotros.jpg" alt="" />
<section class="fondo">
  <p class="titulo-portada">Galery mäbello</p>
  <div class="contenedor">
    <p>
      En Galery mäbello, nos apasiona ofrecerte lo mejor en diseño de muebles
      para transformar tu hogar o espacio de trabajo. Nuestra galería presenta
      una cuidada selección de piezas únicas que combinan funcionalidad, estilo
      y calidad, pensadas para satisfacer tus necesidades y gustos. Nos
      enorgullece ser tu aliado en la decoración, proporcionando no solo
      muebles, sino soluciones innovadoras que se adaptan a cada ambiente. Ya
      sea que busques un estilo moderno, clásico o algo en medio, nuestra
      galería está diseñada para inspirarte y ayudarte a dar vida a tus ideas.
      <br />
      <br />
      Variedad, desde muebles para interiores hasta opciones para exteriores,
      tenemos algo para cada espacio. calidad, Trabajamos con los mejores
      fabricantes y artesanos para garantizar productos duraderos. atención
      personalizada, nos importa que encuentres el mueble perfecto, por eso te
      ofrecemos un servicio cercano y personalizado. Explora nuestra galería, y
      deja que nuestros muebles hagan de tu espacio un lugar único.
    </p>
  </div>
  <p class="creadora">
    Creadora de marca <br />
    &COPY; Valentina Restan
  </p>
  <p class="terminos">Términos y Condiciones</p>
  <div class="contenedor-termino">
    <p>
      Al acceder a nuestro sitio web y realizar compras, usted acepta cumplir
      con los términos y condiciones establecidos en este documento. Si no está
      de acuerdo con alguna de las condiciones, le recomendamos que no utilice
      nuestros servicios. mabello ofrece una amplia variedad de muebles de
      diseño exclusivo, tanto para compra en línea como en nuestra galería
      física. Nos reservamos el derecho de modificar los productos, precios y
      promociones sin previo aviso. Para realizar una compra en línea, es
      necesario que el cliente se registre proporcionando información veraz y
      actualizada. Es responsabilidad del usuario mantener la confidencialidad
      de su cuenta y contraseña. El usuario será responsable de todas las
      actividades realizadas a través de su cuenta. Los precios de los productos
      están expresados en COP e incluyen impuestos, a menos que se indique lo
      contrario. Los métodos de pago disponibles son con tarjeta. Nos reservamos
      el derecho de modificar los precios de los productos y servicios en
      cualquier momento. Los costos y tiempos de entrega varían dependiendo de
      la ubicación y la disponibilidad de los productos. Los plazos de entrega
      pueden ser aproximados y pueden estar sujetos a cambios debido a
      imprevistos logísticos. Las devoluciones de productos serán aceptadas
      dentro de un plazo de 31 a partir de la fecha de compra, siempre que los
      productos estén en su estado original y sin uso. Los productos defectuosos
      o dañados durante el transporte serán reemplazados sin costo adicional.
      Todos los contenidos del sitio web, incluyendo imágenes, descripciones,
      logotipos, y diseño, están protegidos por derechos de autor y son
      propiedad o de sus respectivos propietarios. Queda prohibida la
      reproducción o uso no autorizado de los mismos. no se hace responsable por
      daños directos, indirectos, incidentales o consecuentes derivados del uso
      de nuestros productos, servicios o sitio web. Nos reservamos el derecho de
      modificar estos Términos y Condiciones en cualquier momento, publicando
      las modificaciones en nuestro sitio web. Los cambios serán efectivos en el
      momento de su publicación. Estos términos se regirán e interpretarán de
      acuerdo con las leyes de colombianas. En caso de conflicto, las partes se
      someterán a la jurisdicción de los tribunales competentes de medellin.
    </p>
  </div>
  <p class="politica">Política de Privacidad</p>
  <div>
    <p class="contenedor-politica">
      Estamos comprometidos con la protección de su privacidad. Esta Política de
      Privacidad describe cómo recopilamos, usamos, protegemos y compartimos su
      información personal cuando interactúa con nuestro sitio web y servicios.
      Recopilamos la siguiente información cuando usted visita nuestro sitio web
      o realiza compras: información personal como su nombre, dirección, correo
      electrónico y número de teléfono; información de pago (cuando realiza
      compras en línea); e información de navegación, como dirección IP,
      navegador y cookies. La información que recopilamos se utiliza para
      procesar y gestionar sus pedidos, enviar confirmaciones, actualizaciones
      de pedidos y facturas, mejorar la experiencia de usuario en nuestro sitio
      web, y ofrecer productos, promociones y servicios relacionados que puedan
      interesarle. Tomamos medidas razonables para proteger la seguridad de su
      información personal mediante el uso de tecnologías y protocolos estándar
      de la industria, como el cifrado en las transacciones de pago. Sin
      embargo, no podemos garantizar la seguridad absoluta en Internet.
      Utilizamos cookies para mejorar la funcionalidad del sitio web,
      personalizar su experiencia y analizar el tráfico del sitio. Puede
      configurar su navegador para rechazar las cookies, aunque esto puede
      afectar la experiencia en algunas áreas del sitio. No compartimos su
      información personal con terceros, salvo en los siguientes casos: con
      proveedores de servicios de pago y transporte para completar su pedido, o
      si estamos obligados por ley a hacerlo, o si es necesario para proteger
      nuestros derechos. Usted tiene el derecho de acceder, rectificar o
      eliminar cualquier información personal que tengamos sobre usted. Si desea
      ejercer cualquiera de estos derechos, por favor contáctenos a través de
      Mabello_corporal.com. Podemos actualizar nuestra Política de Privacidad de
      vez en cuando. Cualquier cambio será publicado en esta página y será
      efectivo inmediatamente después de su publicación. Si tiene alguna
      pregunta o inquietud sobre nuestra Política de Privacidad, por favor
      comuníquese con nosotros en Mabello_corporal.como a través de correo.
    </p>
  </div>

  <section>
    <P class="preguntas">Preguntas Frecuentes</P>
    <div class="preguntasuno">
      <p class="unonumero">01</p>
      <p class="preguntauno">¿Puedo devolver o cambiar un producto?</p>
      <div class="cajapregunta1">
        <p class="respuestauno">
          Sí, aceptamos devoluciones y cambios dentro de los 30 días posteriores
          a la compra, siempre que el producto esté en su estado original, sin
          uso y con el embalaje intacto. Para iniciar una devolución o cambio,
          por favor contáctanos a través de nuestro formulario de contacto o
          envíanos un correo electrónico a mabello_corpo.com indicando tu número
          de pedido y el producto que deseas devolver o cambiar. Te
          proporcionaremos las instrucciones para completar el proceso.
        </p>
      </div>
    </div>
    <div class="preguntascuadro">
      <p class="dosnumero">02</p>
      <p class="preguntados">¿Ofrecen envío internacional?</p>
      <div class="cajapreguntados">
        <p class="respuestados">
          Sí, ofrecemos envíos internacionales. Los costos de envío varían según
          el destino y el tamaño del pedido. Durante el proceso de compra,
          podrás ver las opciones de envío disponibles para tu país y el costo
          estimado. Ten en cuenta que algunas tarifas adicionales, como
          impuestos o aranceles aduaneros, pueden aplicarse dependiendo de las
          regulaciones locales en tu país.
        </p>
      </div>
    </div>

    <div class="preguntascuadrotres">
      <p class="tresnumero">03</p>
      <p class="preguntatres">
        ¿Cuál es la garantía más extensa que tienen los muebles?
      </p>
      <div class="cajapreguntatres">
        <p class="respuestatres">
          Algunos de nuestros muebles cuentan con una garantía de hasta 5 años,
          que cubre defectos de fabricación y problemas estructurales. Para más
          detalles sobre la garantía específica de cada producto, consulta la
          descripción del artículo o contacta con nuestro servicio al cliente.
        </p>
      </div>
    </div>
  </section>
</section>
